<System>
<ip>192.168.178.46</ip>
<port>8090</port>
<FileServerPath>../voice/</FileServerPath>
<EntryID>786</EntryID>
</System>
<TTS>
<LicenseNumber>2</LicenseNumber>
<SerialNumber>006112001</SerialNumber>
<Code>6</Code>
</TTS>   

<HttpFileServer>
<enable>0</enable>
<ip>192.168.178.46</ip>
<port>8091</port>
<documentroot>../voice/</documentroot>
</HttpFileServer>

<AllowIp>
<ip>192.168.178.189</ip>
<ip>192.168.178.187</ip>
<ip>192.168.178.46</ip>
</AllowIp>

<AlarmCenter>
<ip>192.168.21.51</ip>
<port>8870</port>
</AlarmCenter>